* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 80%;
}

nav {
	padding: 30px 5px;
}

.description {
	width: 40%;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: grid;
	place-items: center;
	background: lightgray;
}

.footer-container {
	margin-top: 14px;
	text-align: center;
}